# Environment / Secrets
.env
.env.local
.env.*.local

# Python and venvs
__pycache__/
*.py[co]
*.pyo
*.pyc
*.pyd
*.egg-info/
*.egg
*.whl
build/
dist/
wheels/
*.lock
.venv/
venv/
env/
#airflow
logs/
airflow.db
*.db

# dbt 
dbt/logs
dbt/target/
dbt/dbt_modules/
dbt/.dbt/ 

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Docker
docker-compose.override.yml
*.log
